name: Deploy to HuggingFace Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Full History
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Git LFS
      run: |
        git lfs install

    - name: Push to HuggingFace Space
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git remote add space https://SanskarModi:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/SanskarModi/sd-image-gen-toolkit
        git push space main --force